{% liquid
  assign image_desktop = section.settings.image_desktop
  assign image_mobile = section.settings.image_mobile

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_weight = section.settings.heading_weight
  assign heading_color = section.settings.heading_color
  assign heading_font = section.settings.heading_font

  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_weight_mobile = section.settings.heading_weight_mobile

  assign button_text = section.settings.button_text
  assign button_link = section.settings.button_link
  assign button_text_size = section.settings.button_text_size
  assign button_text_weight = section.settings.button_text_weight
  assign button_text_color = section.settings.button_text_color
  assign button_bg = section.settings.button_bg
  assign button_text_font = section.settings.button_text_font

  assign button_border_radius = section.settings.button_border_radius
  assign button_border_color = section.settings.button_border_color
  assign button_border_width = section.settings.button_border_width
  assign button_border_style = section.settings.button_border_style

  assign button_text_size_mobile = section.settings.button_text_size_mobile
  assign button_text_weight_mobile = section.settings.button_text_weight_mobile

  assign timer_days = section.settings.timer_days
  assign timer_hours = section.settings.timer_hours
  assign timer_minutes = section.settings.timer_minutes
  assign timer_seconds = section.settings.timer_seconds

  assign timer_size = section.settings.timer_size
  assign timer_weight = section.settings.timer_weight
  assign timer_color = section.settings.timer_color
  assign timer_font = section.settings.timer_font

  assign timer_size_mobile = section.settings.timer_size_mobile
  assign timer_weight_mobile = section.settings.timer_weight_mobile

  assign timer_day_label = section.settings.timer_day_label
  assign timer_hour_label = section.settings.timer_hour_label
  assign timer_minute_label = section.settings.timer_minute_label
  assign timer_second_label = section.settings.timer_second_label

  assign timer_label_size = section.settings.timer_label_size
  assign timer_label_weight = section.settings.timer_label_weight
  assign timer_label_font = section.settings.timer_label_font

  assign timer_label_size_mobile = section.settings.timer_label_size_mobile
  assign timer_label_weight_mobile = section.settings.timer_label_weight_mobile

  assign complete_text = section.settings.complete_text
  assign complete_text_size = section.settings.complete_text_size
  assign complete_text_weight = section.settings.complete_text_weight
  assign complete_text_color = section.settings.complete_text_color
  assign complete_text_font = section.settings.complete_text_font

  assign complete_text_size_mobile = section.settings.complete_text_size_mobile
  assign complete_text_weight_mobile = section.settings.complete_text_weight_mobile

  assign layout_background = section.settings.layout_background
  assign overlay_opacity = section.settings.overlay_opacity
  assign overlay_color = section.settings.overlay_color
  assign layout_margin_top = section.settings.layout_margin_top
  assign layout_margin_bottom = section.settings.layout_margin_bottom
  assign layout_border_radius = section.settings.layout_border_radius
  assign layout_border_size = section.settings.layout_border_size
  assign layout_border_style = section.settings.layout_border_style
  assign layout_border_color = section.settings.layout_border_color
  assign layout_enable_max_width = section.settings.layout_enable_max_width
  assign layout_height_desktop = section.settings.layout_height_desktop
  assign layout_height_mobile = section.settings.layout_height_mobile
%}

<style>
  .countdown-banner-{{section.id}}-wrapper {
    padding-top: var(--pt);
    padding-bottom: var(--pb);
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{section.id}}-wrapper {
      padding-top: var(--pt-desktop);
      padding-bottom: var(--pb-desktop);
    }
  }
  .countdown-banner-{{section.id}} {
    position: relative;
    height: var(--section-height-mobile);
    overflow: hidden;
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{section.id}} {
      height: var(--section-height);
    }
  }
  .countdown-banner-{{section.id}} .countdown-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .countdown-banner-{{section.id}} .countdown-banner-image--desktop {
    display: none;
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{section.id}} .countdown-banner-image--desktop {
      display: block;
    }
    .countdown-banner-{{section.id}} .countdown-banner-image--mobile {
      display: none;
    }
  }
</style>
<style>
  .countdown-banner-content-{{section.id}} {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    line-height: 1.1;
  }
</style>
<style>
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px 10px;
  }
  @media (min-width: 750px) {
    .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 {
       gap: 20px;
    }
  }
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block {
    position: relative;
    border-radius: 12px;
    /*padding: 20px;*/
    padding: 0 1rem;
  }
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__num,
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__unit {
    display: block;
    text-align: center;
  }
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__num {
    font-size: {{ timer_size_mobile }}px;
    font-weight: {{ timer_weight_mobile }};
      font-family: {{ timer_font.family }}, {{ timer_font.fallback_families }};
    line-height: 1;
  }
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__unit {
    text-transform: uppercase;
    margin-top: 6px;
    font-size: {{ timer_label_size }}px;
    font-weight: {{ timer_label_weight }};
    font-family: {{ timer_label_font.family }}, {{ timer_label_font.fallback_families }};
  }
  @media (min-width: 750px) {
      .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__num{
      font-size: {{ timer_size }}px;
      font-weight: {{ timer_weight }};
      }
    .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-block__unit {
      font-size: {{ timer_label_size }}px;
      font-weight: {{ timer_label_weight }};
    }
  }
  .countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2 .time-divier {
    position: relative;
    width: 1px;
    height: 40px;
    background-color: var(--color);
  }
</style>
<style>
  .countdown-banner-heading-{{section.id}}-{{section.id}}-1684746960fabb856f-0 *{
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-size: {{ heading_size }}px;
      font-weight: {{ heading_weight }};
      color: {{ heading_color }};
  }
  @media only screen and (max-width: 749px) {
    .countdown-banner-heading-{{section.id}}-{{section.id}}-1684746960fabb856f-0 *{
      font-size: {{ heading_size_mobile }}px;
      font-weight: {{ heading_weight_mobile }};
    }
  }
  .countdown-banner-heading-{{section.id}}-{{section.id}}-1684746960fabb856f-0 p {
    margin:0 10px;
  }
</style>
<style>
  .countdown-banner-button-{{section.id}}-{{section.id}}-1684746960fabb856f-1 {
    padding: 9px 25px;
    text-decoration: none;
      color: {{ button_text_color }};
      background-color: {{ button_bg }};
      border-radius: {{ button_border_radius }}px;
      font-size: {{ button_text_size_mobile }}px;
      border:{{ button_border_width }}px {{ button_border_style }} {{ button_border_color }};
      font-weight: {{ button_text_weight_mobile }};
      font-family: {{ button_text_font.family }}, {{ button_text_font.fallback_families }};

  }
  @media screen and (min-width: 750px) {
    .countdown-banner-button-{{section.id}}-{{section.id}}-1684746960fabb856f-1 {
      padding: 11px 25px;
      color: {{ button_text_color }};
      background-color: {{ button_bg }};
      border-radius: {{ button_border_radius }}px;
      font-size: {{ button_text_size }}px;
      border:{{ button_border_width }}px {{ button_border_style }} {{ button_border_color }};
      font-weight: {{ button_text_weight }};
      font-family: {{ button_text_font.family }}, {{ button_text_font.fallback_families }};
    }
  }
</style>
<div
  class="countdown-banner-{{section.id}}-wrapper"
  style="
    --pt: 39px;
    --pt-desktop: 52px;
    --pb: 39px;
    --pb-desktop: 52px;
    background-color:{{  layout_background }};
  "
>
  <div
    class="
            countdown-banner-{{section.id}}
      {% if layout_enable_max_width == false %} page-width {% endif %}
    "
    style="
      --section-height: {{ layout_height_desktop }}px;
      --section-height-mobile: {{ layout_height_mobile }}px;
    "
  >
    <div
      style="
                height: 100%; width: 100%; position: relative; overflow: hidden;
        border-radius: {{ layout_border_radius }}px;
        border: {{ layout_border_size }}px {{ layout_border_style }} {{ layout_border_color }} ;
      "
    >
      {% if image_desktop != blank %}
        <img
          class="
                        countdown-banner-image

            countdown-banner-image--desktop
          "
          src="{{ image_desktop |  img_url: 'master' }}"
          alt=""
          loading="lazy"
        >
      {% else %}
        <div
          class="
            countdown-banner-image
            countdown-banner-image--desktop
          "
        >
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
      {% if image_mobile != blank %}
        <img
          class="countdown-banner-image countdown-banner-image--mobile"
          src="{{ image_mobile |  placeholder_svg_tag: 'placeholder_svg' }}"
          srcset=" "
          alt=""
          loading="lazy"
        >
      {% else %}
        <div class="countdown-banner-image countdown-banner-image--mobile">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}

      <div class="countdown-banner-content-{{section.id}}">
        <div
          style="
            opacity: {{  overlay_opacity }};
            background-color: {{ overlay_color }};
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: block;
          "
        ></div>
        
          <div
            class="countdown-banner-heading-{{section.id}}-{{section.id}}-1684746960fabb856f-0"
            style=""
          >
            <p>
              {{ heading }}
            </p>
          </div>

          {% if button_text != blank %}
            <a
              href="{{ button_link }}"
              class="countdown-banner-button-{{section.id}}-{{section.id}}-1684746960fabb856f-1"
              style="              margin: 5px 10px;"
            >
              {{ button_text }}
            </a>
          {% endif %}

          <div
            class="countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2"
            style="
              color: {{  timer_color }};
              --color: {{ timer_color }};
            "
          >
            <div class="time-block">
              <span class="time-block__num js-timer-days">418</span>
              <span class="time-block__unit">{{ timer_day_label }}</span>
            </div>

            <span class="time-divier"></span>
            <div class="time-block">
              <span class="time-block__num js-timer-hours">12</span>
              <span class="time-block__unit">{{ timer_hour_label }}</span>
            </div>

            <span class="time-divier"></span>
            <div class="time-block">
              <span class="time-block__num js-timer-minutes">59</span>
              <span class="time-block__unit">{{ timer_minute_label }}</span>
            </div>

            <span class="time-divier"></span>
            <div class="time-block">
              <span class="time-block__num js-timer-seconds">07</span>
              <span class="time-block__unit">{{ timer_second_label }}</span>
            </div>
          </div>
          
        <style>
          .countdown-timer-completed-text-{{section.id}}-{{section.id}}-1684746960fabb856f-2 {
            display: none !important;
            font-size: {{ complete_text_size_mobile }}px;
            font-weight: {{ complete_text_weight_mobile }};
            color: {{ complete_text_color }};
            font-family: {{ complete_text_font.family }}, {{ complete_text_font.fallback_families }};
            @media (min-width: 750px) {
              font-size: {{ complete_text_size }}px;
              font-weight: {{ complete_text_weight }};
            }
          }
        </style>
        <div class="countdown-timer-completed-text-{{section.id}}-{{section.id}}-1684746960fabb856f-2">
          {{ complete_text }}
        </div>
        {% schema %}
{
    "name": "PC Timer Banner #2",
    "settings": [
      {
            "type": "header",
            "content": "This section is a property of PeakConversion",
            "info": "Do not sell or reproduce. contact us at franklinjounda@gmail.com for more info"
        },

        {
            "type": "header",
            "content": "Image Settings"
        },
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
        },
        {
            "type": "header",
            "content": "Heading Settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "50% off all suits and accessories"
        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Size",
            "default": 30,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "heading_weight",
            "label": "Heading Weight",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#ffffff"
        },
        {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Heading Font",
            "default": "josefin_sans_n4"
        },
        {
            "type": "range",
            "id": "heading_size_mobile",
            "label": "Heading Size Mobile",
            "default": 20,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "heading_weight_mobile",
            "label": "Heading Weight Mobile",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "header",
            "content": "Button Settings"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "View Discounted Items"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "range",
            "id": "button_text_size",
            "label": "Button Text Size",
            "default": 18,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "button_text_weight",
            "label": "Button Text Weight",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "button_bg",
            "label": "Button Background Color",
            "default": "#ffffff"
        },
        {
            "type": "font_picker",
            "id": "button_text_font",
            "label": "Button Font",
            "default": "josefin_sans_n4"
        },
        {
            "type": "range",
            "id": "button_border_radius",
            "label": "Button Border Radius",
            "default": 50,
            "min": 0,
            "max": 100
        },
        {
            "type": "color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "button_border_width",
            "label": "Button Border Width",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "select",
            "id": "button_border_style",
            "label": "Button Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "range",
            "id": "button_text_size_mobile",
            "label": "Button Text Size Mobile",
            "default": 16,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "button_text_weight_mobile",
            "label": "Button Text Weight Mobile",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "header",
            "content": "Timer Settings"
        },
        {
            "type": "text",
            "id": "timer_day_label",
            "label": "Timer Day Label",
            "default": "Days"
        },
        {
            "type": "text",
            "id": "timer_days",
            "label": "Timer Days",
            "default": "2026/12/31"
        },
        {
            "type": "text",
            "id": "timer_hour_label",
            "label": "Timer Hour Label",
            "default": "Hours"
        },
        {
            "type": "range",
            "id": "timer_hours",
            "label": "Timer Hours",
            "default": 12,
            "min": 0,
            "max": 23
        },
        {
            "type": "text",
            "id": "timer_minute_label",
            "label": "Timer Minute Label",
            "default": "Minutes"
        },
        {
            "type": "range",
            "id": "timer_minutes",
            "label": "Timer Minutes",
            "default": 59,
            "min": 0,
            "max": 59
        },
        {
            "type": "text",
            "id": "timer_second_label",
            "label": "Timer Second Label",
            "default": "Seconds"
        },
        {
            "type": "range",
            "id": "timer_seconds",
            "label": "Timer Seconds",
            "default": 0,
            "min": 0,
            "max": 59
        },
        {
            "type": "range",
            "id": "timer_size",
            "label": "Timer Size",
            "default": 25,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "timer_weight",
            "label": "Timer Weight",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "timer_color",
            "label": "Timer Color",
            "default": "#ffffff"
        },
        {
            "type": "font_picker",
            "id": "timer_font",
            "label": "Timer Font",
            "default": "josefin_sans_n4"
        },
        {
            "type": "range",
            "id": "timer_size_mobile",
            "label": "Timer Size Mobile",
            "default": 20,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "timer_weight_mobile",
            "label": "Timer Weight Mobile",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
          "type": "header",
          "content": "Timer Complete Settings"
        },
        {
          "type": "text",
          "id": "complete_text",
          "label": "Complete Text",
          "default": "The offer has ended"
        },
        {
          "type": "range",
          "id": "complete_text_size",
          "label": "Complete Text Size",
          "default": 40,
          "min": 10,
          "max": 100
        },
        {
          "type": "select",
          "id": "complete_text_weight",
          "label": "Complete Text Weight",
          "default": "bold",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            }
          ]
        },
        {
          "type": "color",
          "id": "complete_text_color",
          "label": "Complete Text Color",
          "default": "#ffffff"
        },
        {
          "type": "font_picker",
          "id": "complete_text_font",
          "label": "Complete Text Font",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "complete_text_size_mobile",
          "label": "Complete Text Size Mobile",
          "default": 20,
          "min": 10,
          "max": 100
        },
        {
          "type": "select",
          "id": "complete_text_weight_mobile",
          "label": "Complete Text Weight Mobile",
          "default": "bold",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            }
          ]
        },
        {
            "type": "header",
            "content": "Layout Settings"
        },
        {
            "type": "color",
            "id": "layout_background",
            "label": "Layout Background",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay Opacity",
            "default": 0.3,
            "min": 0,
            "max": 1,
            "step": 0.1
        },
        {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "layout_margin_top",
            "label": "Layout Margin Top",
            "default": 39,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "layout_margin_bottom",
            "label": "Layout Margin Bottom",
            "default": 39,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "layout_border_radius",
            "label": "Layout Border Radius",
            "default": 15,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "layout_border_size",
            "label": "Layout Border Size",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "select",
            "id": "layout_border_style",
            "label": "Layout Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "color",
            "id": "layout_border_color",
            "label": "Layout Border Color",
            "default": "#ffffff"
        },
        {
            "type": "checkbox",
            "id": "layout_enable_max_width",
            "label": "Enable Max Width",
            "default": false
        },
        {
            "type": "range",
            "id": "layout_height_desktop",
            "label": "Layout Height Desktop",
            "default": 600,
            "min": 100,
            "max": 1000,
            "step": 100
        },
        {
            "type": "range",
            "id": "layout_height_mobile",
            "label": "Layout Height Mobile",
            "default": 500,
            "min": 100,
            "max": 1000,
            "step": 100
        }
    ],

    "presets": [
        {
            "category": "Promotional",
            "name": "PC Timer Banner #2"
        }
    ]
}
        {% endschema %}
        <script
          type="text/javascript"
        >
                (function () {
                  function startTimer() {
                    const second = 1000,
                      minute = second * 60,
                      hour = minute * 60,
                      day = hour * 24,
                      wrapper = document.querySelector(
                        '.countdown-timer-{{section.id}}-{{section.id}}-1684746960fabb856f-2'
                      );
                
                    // Create UTC date string in a Safari-friendly format
                    const dateString = `{{ timer_days }} {{ timer_hours }}:{{ timer_minutes }}:{{ timer_seconds }} UTC`;
                    const countDown = Date.parse(dateString);
                
                    console.log('start timer, end date:', dateString); 
                
                    const interval = setInterval(function () {
                      let now = Date.now(); // Используем Date.now() вместо new Date().getTime()
                      let distance = countDown - now;
                
                      // Handle case when distance is negative or invalid
                      if (distance < 0 || isNaN(distance)) {
                        wrapper.querySelector('.js-timer-days').innerText = '00';
                        wrapper.querySelector('.js-timer-hours').innerText = '00';
                        wrapper.querySelector('.js-timer-minutes').innerText = '00';
                        wrapper.querySelector('.js-timer-seconds').innerText = '00';
                        
                        document.querySelector(
                          '.countdown-timer-completed-text-{{section.id}}-{{section.id}}-1684746960fabb856f-2'
                        ).style.display = 'block';
                        document.querySelector(".countdown-banner-{{section.id}}-wrapper").style.display = "none"
                
                        clearInterval(interval);
                        return;
                      }
                
                      // Calculate time units
                      const days = Math.floor(distance / day);
                      const hours = Math.floor((distance % day) / hour);
                      const minutes = Math.floor((distance % hour) / minute);
                      const seconds = Math.floor((distance % minute) / second);
                
                      // Format numbers to always show two digits
                      const formatNumber = (num) => (num < 10 ? '0' + num : num);
                
                      // Update DOM
                      wrapper.querySelector('.js-timer-days').innerText = formatNumber(days);
                      wrapper.querySelector('.js-timer-hours').innerText = formatNumber(hours);
                      wrapper.querySelector('.js-timer-minutes').innerText = formatNumber(minutes);
                      wrapper.querySelector('.js-timer-seconds').innerText = formatNumber(seconds);
                      
                
                    }, second);
                
                    // Clean up interval on section unload
                    document.addEventListener('shopify:section:unload', function (event) {
                      if (event.detail.sectionId === '{{section.id}}') clearInterval(interval);
                    });
                  }
                
                  // Start timer initially
                  startTimer();
                
                  // Reinitialize timer when section is reloaded in theme editor
                  if (window.Shopify && Shopify.designMode) {
                    document.addEventListener('shopify:section:load', function (event) {
                      if (event.detail.sectionId === '{{section.id}}') {
                        startTimer();
                      }
                    });
                  }
                })();
        </script>
      </div>
    </div>
  </div>
</div>
